/* styles.css */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes at least the full viewport height */
    margin: 0; /* Remove default margin */
    background-color: #f8f9fa;
}

#question-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
    flex: 1; /* Allow the container to grow and take remaining space */
}

#result {
    font-weight: bold;
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
    padding: 20px 0; /* Add some space around the footer content */
    background-color: #343a40; /* Set a background color for the footer */
    color: #ffffff; /* Set text color for the footer */
    position: relative;
}

.button-container {
    display: flex;
    justify-content: center;
    position: fixed; /* Cố định vị trí */
    bottom: 20px; /* Khoảng cách từ phía dưới của trang */
    left: 50%; /* Đặt trung tâm theo chiều ngang */
    transform: translateX(-50%); /* Dịch chuyển ngang để căn giữa */
}
