
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

#question-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
    flex: 1;
}

#result {
    font-weight: bold;
}

footer {
    margin-top: auto; 
    padding: 20px 0; 
    background-color: #343a40;
    color: #ffffff;
    position: relative;
}

.button-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);